body, html {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(images/Hexagon\ Pattern\ Background\ Abstract\ Geometric\ Wallpaper.jpg);
}

.container {
    max-width: 1500px;
    margin: auto;
}

.aside {
    float: left;
    width: 300px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: darkcyan;
    margin-left: 200px;
}

#imagenaside {
    width: 300px;
    list-style: circle 300px;
}

h1 {
    padding: 0;
    border: 0;
    margin: 0;
    background-color: rgba(255, 0, 0, 0);   
}

h2 {
    padding: 0;
    margin-top: 40px;
    list-style: lower-roman 100px;
}

.aside ul {
    text-align: justify;
    background-color: aqua;
    list-style: none;
    margin: 0;
    padding: 0;
}

.aside ul li {
    background-color: blueviolet;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main {
    float: right;
    width: 700px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: darkgoldenrod;
    margin-right: 300px;
}